.menu {
    margin-top: 40px;

    li {
        list-style: none;

        a {
            font-size: 1.2rem;
            font-weight: 600;
            color: #222;
            text-decoration: none;
            transition: color 0.2s ease-in-out;
        }

        a.active,
        a:hover {
            color: #fff;
        }
    }
}
